.add-menu {
  padding: 1em;
  margin-top: 1em;
}

.edit-btn,
.back-btn {
  position: absolute;
  background: none !important;
  padding: 0.38571429em !important;
  top: 0.25em;
}

.back-btn {
  left: 0;
  // padding: 0.38571429em !important;
}
.edit-btn {
  right: 0;
}

.category-menu {
  margin: 15px 0;
}

.category-icon > svg {
  width: 30px;
  padding: 0 4px;

  &:nth-child(1) {
    padding-left: 0;
  }
}
.description {
  font-family: Georgia, "Times New Roman", Times, serif;
  white-space: pre-wrap;
}
