.add-menu {
  padding: 1em;
  margin-top: 1em;
}

.edit-btn,
.back-btn,
.share-btn {
  cursor: pointer;
  position: absolute;
  background: none !important;
  margin-top: 0.5em;
  padding: 0 !important;
  fill: #999 !important;
}

.back-btn {
  left: 22px;
  top: 0.25em;
  width: 1em !important;
  height: 1em !important;
}
.share-btn {
  width: 0.8em !important;
  height: 0.8em !important;
  right: 24px;
  top: 0.4em;
}
.edit-btn {
  width: 0.8em !important;
  height: 0.8em !important;
  right: 24px * 2 + 10px;
  top: 0.4em;
}

.category-menu {
  margin: 15px 0;
}

.category-icon > svg {
  width: 30px;
  padding: 0 4px;

  &:nth-child(1) {
    padding-left: 0;
  }
}
.description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  white-space: pre-wrap;
}

.ui.container.info-container {
  @media screen and (max-width: 768px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.info-container {
  h2 {
    margin-top: 1.6em;
  }
}

.success-container {
  flex-direction: column;
  justify-content: center;
}

.add-more-btn {
  margin-top: 1rem !important;
}

.ui.checkbox {
  min-width: 102px;
}

.form-inline {
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
  width: 100%;

  .form-group {
    width: 100%;
    margin-right: 1em;

    @media screen and (max-width: 768px) {
      margin-bottom: 1em;
    }
  }

  @media screen and (max-width: 768px) {
    textarea {
      height: 60px;
    }

    button {
      float: right;
    }
  }
}
