{
  "parser": "babel-eslint",
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-duplicate-imports": 0,
    "no-unused-vars": 1,
    "react/display-name": 0,
    "react/jsx-no-bind": 1,
    "react/jsx-boolean-value": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-unused-prop-types": 2,
    "react/prefer-es6-class": [2, "always"],
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ],
    "react/self-closing-comp": 2,
    "prettier/prettier": [
      "warn",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "printWidth": 120,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ]
  }
}
