{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": true,
  "trailingComma": "es5"
}
