.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ui.centered.grid {
  .top-row {
    padding-bottom: 0 !important;
  }
  .top-row-cat {
    .ui.segment {
      border-top: 0;
      border-bottom: 2px solid rgba(34, 36, 38, 0.15);
      border-radius: 0;
    }
  }
}

.main-row {
  padding: 0 !important;
  .top-row {
    padding: 0 !important;

    .segment {
      border-top: 0;
      margin-bottom: 14px;
    }
  }
}
