.left-col {
  // height: 100vh !important;
  padding: 0 !important;
  overflow-y: scroll;

  @media all and (max-width: 768px) {
    width: 100%;
    position: static;
    padding: 25px 15px;
  }
}

.map-container {
  padding: 0 !important;
}

.fab {
  position: absolute !important;
  right: 100px;
  bottom: 40px;
}
