nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 52px;
  padding: 0 10px 0 25px;

  @media all and (max-width: 768px) {
    flex-direction: column;
    height: 100px;
  }
}
.title {
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.05rem;
}

.left-col {
  height: calc(100vh - 214px);
  padding: 0 !important;
  overflow-y: scroll;
}

.right-col {
  // width: calc(100% - 280px);
  height: calc(100vh - 52px);
  width: 100%;

  .list {
    margin-bottom: 30px;
  }

  .card-container {
    width: calc(100% - 900px);
    background-color: #fbfbfb;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    width: 44%;
    height: auto;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    padding: 0;

    h2 {
      padding-bottom: 4px;
      font-size: 1rem;
      margin: 10px 0 0;
    }

    .card__image {
      width: 100%;
      height: 180px;
      background-size: cover;
      background-position: center center;
    }

    .card__type {
      width: 70px;
      height: 44px;
      background-color: #424242;
      position: absolute;
      top: 120px;
      left: 0;
      color: #fafafa;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.03rem;
    }

    .card__description {
      color: #555;
      font-size: 14px;
      margin: 0;
      margin-bottom: 4px;
    }
  }

  .result-stats {
    text-align: right;
    color: #666;
    font-size: 15px;
  }

  .map-container {
    height: calc(100vh - 214px);
    padding: 0 !important;
    width: 100%;
  }

  @media all and (min-width: 1441px) {
    .list-item {
      width: calc(25% - 16px);
    }
  }

  @media all and (max-width: 1024px) {
    .list-item {
      width: calc(50% - 16px);
    }
  }

  @media all and (max-width: 768px) {
    width: 100%;
    position: static;
    padding: 25px 15px;
  }

  @media all and (max-width: 480px) {
    .list-item {
      width: calc(100% - 16px);
      margin-bottom: 20px;
    }
  }
}

.fab {
  position: absolute !important;
  right: 80px;
  bottom: 10px;
}
