.left-col {
  height: calc(100vh - 232px) !important;
  padding: 0 !important;
  overflow-y: scroll;

  @media all and (max-width: 768px) {
    position: static;
    padding: 25px 15px;
    width: 100%;
  }

  .results-list {
    h2 {
      font-size: 1.3rem;
    }

    > div:nth-child(2) {
      height: calc(100vh - 232px) !important;
    }
  }
}

.map-container {
  padding: 0 !important;
}
.vertical-align {
  display: flex !important;
  align-items: center;
  min-height: 15em;
}

.fab {
  bottom: 40px;
  background-color: red !important;
  position: absolute !important;
  right: 100px;
}

.right-col {
  height: calc(100vh - 232px) !important;
}
