$height-top-xl: 232px;
$height-top-xs: 109px;

@media all and (max-width: 768px) {
  .ui.grid > .row > [class*='four wide'].column {
    width: 100% !important;
  }
}
.left-col {
  padding: 0 !important;
  overflow-y: scroll;

  @media only screen and (min-width: 933px) {
    order: 0;
  }

  .results-list {
    .ant-card-bordered {
      border-top: 0;
    }

    h2 {
      font-size: 1.3rem;
    }

    > div:nth-child(2) {
      height: calc(100vh - #{$height-top-xl}) !important;

      @media all and (max-width: 768px) {
        height: calc(100vh - #{$height-top-xs}) !important;
      }
    }

    > div:nth-child(3) {
      margin: 1em 0 0;
    }
  }
}

.map-container {
  padding: 0 !important;
}

.map {
  @media all and (max-width: 768px) {
    height: calc(60vh - #{$height-top-xs}) !important;
  }
}

.right-col {
  @media only screen and (min-width: 933px) {
    order: 1;
  }
}

.vertical-align {
  align-items: center;
  display: flex !important;
  height: 100%;
}

.fab {
  bottom: 40px;
  background-color: red !important;
  position: fixed !important;
  right: 100px;
  z-index: 100;

  @media all and (max-width: 768px) {
    right: 20px;
  }
}

.results-list {
  h2 {
    cursor: pointer;
  }
}

.ant-modal-header {
  padding: 26px 24px;
}

.label {
  margin: 0 !important;
}

.label::after {
  border-color: black !important;
}
.label:hover {
  color: inherit !important;
}
