.top-row-cat {
  .category-menu {
    @media screen and (max-width: 768px) {
      padding: 0 1rem;
      width: 100vw;
    }
  }
}

.category-menu {
  border: 0 !important;
  box-shadow: none !important;
  text-align: center;

  display: flex;
  justify-content: space-evenly;

  overflow-x: scroll;

  @media screen and (max-width: 768px) {
    a {
      padding: 0;
    }
  }

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  .item {
    max-width: 70px;
    min-width: 70px;

    @media screen and (max-width: 768px) {
      padding: 10px !important;
      max-width: 73px;
      min-width: 37px;

      svg {
        width: 20px;
      }
    }
  }
}

.toggle {
  display: inline-flex;

  > a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > a {
    background-color: transparent;
    color: #424242;

    > .item {
      //FIXME:
      // padding: 0 1.14285714em !important;
      > span {
        color: #616161;
        padding-top: 5px;
      }
      fill: #616161;
    }

    &.active {
      > .item {
        > span {
          font-weight: 600;
          color: black;
        }
        fill: black;
      }

      &:hover {
        color: black;
      }
    }

    &:hover {
      background-color: transparent;
      color: #424242;
    }
  }
}
