@import '../../index.scss';

.top-row-cat {
  .category-menu {
    @media screen and (max-width: 768px) {
      padding: 0 1rem;
      width: 100vw;
    }

    span {
      white-space: nowrap;
    }
  }
}

.category-menu-container > .category-menu {
  overflow-x: scroll;
  display: flex;
  justify-content: center;
}

.category-menu {
  border: 0 !important;
  box-shadow: none !important;
  text-align: center;

  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    a {
      padding: 0;
    }
  }
  @media screen and (min-width: 768px) {
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }

    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox
  }

  .item {
    max-width: 70px;
    min-width: 70px;

    @media screen and (max-width: 768px) {
      padding: 10px !important;
      max-width: 73px;
      min-width: 37px;

      svg {
        width: 20px;
      }
    }
  }
}

.toggle {
  display: inline-flex;
  background-color: var(--color-background);

  > a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > a {
    background-color: transparent;

    > .item {
      > span {
        padding-top: 5px;
        color: var(--color-icon-light);
      }
      fill: var(--color-icon-light);
    }

    &.active {
      > .item {
        > span {
          font-weight: 600;
          color: var(--color-highlight-item-light);
        }
        fill: var(--color-highlight-item-light);
      }

      &:hover {
        color: var(--color-highlight-item-light);
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      color: var(--color-foreground-light);

      &.item {
        > span {
          color: var(--color-foreground-dark);
        }
      }
    }
  }
}

.category-menu.inverted {
  .toggle {
    > a {
      &.active {
        > .item {
          > span {
            color: var(--color-highlight-item-dark);
          }
          fill: var(--color-highlight-item-dark);
        }

        &:hover {
          color: var(--color-highlight-item-dark);
        }
      }

      > .item {
        > span {
          padding-top: 5px;
          color: var(--color-highlight-item-dark);
        }
        fill: var(--color-highlight-item-dark);
      }

      &:hover {
        background-color: $color-background-light;

        > .item {
          > span {
            color: var(--light);
          }
          fill: var(--color-highlight-item-dark);
        }
      }
    }
  }
}
