h2.ui.icon.header {
  &:first-child {
    margin: 0 auto;
  }

  .sub.header.tagline {
    color: black;
    font-size: 25px;
    font-weight: 300;
    margin-top: 15px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.language-switch {
  position: absolute;
  right: 11px;
  top: 21px;

  span {
    cursor: pointer;
    &.active {
      font-weight: bold;
    }
  }
}

.top-info-button {
  display: inline-flex;
  margin-top: 7px;
  position: absolute;

  @media screen and (max-width: 768px) {
    position: relative;
  }
}

.top-info-body {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    margin-top: -1.9rem;
  }

  .logo {
    margin: 0.9rem 0 0.8rem;
    height: 2.4rem;

    @media screen and (max-width: 768px) {
      height: 2rem;
    }
  }
}

.info-div {
  cursor: pointer;
  display: flex;
  align-self: center;
  padding-left: 1em;

  @media screen and (max-width: 768px) {
    padding-left: 0.5em;
  }
}

.patreon,
.patreon:hover,
.teespring,
.teespring:hover {
  color: black;
  border: #9e9e9e solid 1px;
  border-radius: 2px;
  padding: 3px 8px;
  margin-left: 2em;

  @media screen and (max-width: 768px) {
    padding-left: 0.5em;
  }
}

.teespring,
.teespring:hover {
  margin-left: 1em;
}

.info-modal {
  .ant-modal-title {
    text-align: center;
  }

  .ant-modal-body {
    padding: 24px 54px 54px;
  }
}
