h2.ui.header .sub.header.tagline {
  font-size: 25px;
  font-weight: 300;
  margin-top: 15px;
}

.language-switch {
  position: absolute;
  right: 21px;
  top: 21px;

  span {
    cursor: pointer;
    &.active {
      font-weight: bold;
    }
  }
}

.info-div {
  cursor: pointer;
  left: 21px;
  top: 21px;
  position: absolute;
}

.info-modal {
  .ant-modal-title {
    text-align: center;
  }

  .ant-modal-body {
    padding: 24px 54px 54px;
  }
}
